main{
    background-color: antiquewhite;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: underline;
    color: blue;
}


h2{
    text-decoration: underline;
    color: rgb(22, 172, 172);
}
.about-paragraph{
    width: 500px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}