footer{
    background-color: azure;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: underline;
    color: red;
    display: flex;

}

.third{
    width: 500px;
    font-size: 30x;
    text-transform: none;
    color: black;

}
h3{
    font-size: 40px;
    
}